
.logo{
	width: 200px;
	float: left;
}
.title-logo{
	padding:4vh; 
	width: 400px;
}
.background-image{
	/*<a href="https://www.freepik.es/fotos-vectores-gratis/personas">Vector de personas creado por freepik - www.freepik.es</a>*/
	background-image: url("images/background.png");


}

.footer-color{
	background-color: white;
	margin-top:5vh;
}